html, body {
    height: 100%;
    min-height: 100%;
}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-basis: auto;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
}

.nav {
    padding: 0 15px 0 0;
}

#apps {
    height: 30px;
    width: 30px;
    color: grey;
    fill: grey;
}

#sign-in {
    width: 80px;
    height: 30px;
    background-color: #4285f4;
    color: white;
    font-weight: 700;
    border: 0;
}

#google-logo {
    max-width: 272px;
    max-height: 92px;
}

#search-box {
    max-width: 449px;
    min-width: 449px;
    width: auto;
    border-radius: 40px;
    border: 2px solid lightgrey;
    padding: 7px 5px;
    margin: 10px;
}

.button {
    background-color: rgb(242, 242, 242);
    border: 0;
    border-radius: 4px;
    padding: 8px 16px;
    margin: 0 5px;
}