html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: Monaco;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

button {
  background: none;
  border: none;
  font-family: inherit;
  font-size: 16px;
  color: rgb(58, 74, 52);
  color: linear-gradient(90deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

#calculator {
  display: grid;
  grid-template-rows: 2;
  grid-template-columns: 1;
}

#display {
  margin-bottom: 10px;
  height: 80px;
  border: solid lightgrey 2px;
  border-radius: 5px;
  background: rgb(238, 174, 202);
  background: linear-gradient(90deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

#keys {
  display: grid;
  height: 350px;
  width: 350px;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  border-bottom: solid lightgrey 1px;
}

.key {
  border-bottom: solid lightgrey 1px;
}

.key.zero {
  grid-column: span 2;
}